<%- include('includes/head')  %> 
<%- include('includes/nav')  %> 

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou cria sua conta abaixo</p>

      <%- include('includes/messages'); %> 

      <div class="row">
        
        <div class="col-lg mt-3">
          <h4>Faça seu cadastro</h4>
          <p>Se você ainda não tem conta, preencha o formulário abaixo:</p>

          <form class="form-cadastro"  action="/login/register" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <label for="inputEmailRegister">Seu email</label>
              <input 
                type="email" 
                class="form-control" 
                id="inputEmailRegister" 
                aria-describedby="emailHelp" 
                placeholder="Enter email" 
                name="email"
              >
              <p class="errorEmail text-danger my-1"></p>
            </div>
            <div class="form-group">
              <label for="inputPasswordRegister">Sua Senha</label>
              <input 
                type="password" 
                class="form-control"
                id="inputPasswordRegister" 
                placeholder="Password" 
                name="password"
              >
              <p class="errorPassword text-danger my-1"></p>
            </div>
            
            <button type="submit" class="btn btn-primary">Cria minha conta</button>
          </form>
        </div>

        <div class="col-lg mt-3">
          <h4>Fazer Login</h4>
          <p>Se você já tem uma conta, faça login abaixo:</p>

          <form class="form-login" action="/login/login" method="post">
            
            <div class="form-group">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <label for="inputEmailLogin">Seu email</label>
              <input 
                type="email" 
                class="form-control" 
                id="inputEmailLogin" 
                aria-describedby="emailHelp" 
                placeholder="Enter email" 
                name="email"
              >
            </div>

            <div class="form-group">
              
              <label for="inputPasswordLogin">Sua Senha</label>
              <input 
                type="password" 
                class="form-control"
                id="inputPasswordLogin" 
                placeholder="Password" 
                name="password"
              >
            </div>
            <p class="errorPassword text-danger my-1"></p>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>

      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer')  %> 
